METRIK_API_BASE_URL=https://api.metrikpos.com

NEXT_PUBLIC_KENSAR_PAYMENT_OWNER=Kensar Electronic
NEXT_PUBLIC_KENSAR_PAYMENT_BANK=Bancolombia
NEXT_PUBLIC_KENSAR_PAYMENT_ACCOUNT_TYPE=Ahorros
NEXT_PUBLIC_KENSAR_PAYMENT_ACCOUNT_NUMBER=PENDIENTE
NEXT_PUBLIC_KENSAR_PAYMENT_ALT_LABEL=Nequi
NEXT_PUBLIC_KENSAR_PAYMENT_ALT_VALUE=3185657508
NEXT_PUBLIC_KENSAR_WHATSAPP=573185657508
